<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select Currency
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a tabindex="-1" href="#">USD</a></li>
    <li><a href="#">CAD</a></li>
    <li><a href="#">EUR</a></li>
    <li><a href="#">AUD</a></li>
  </ul>
</div>