<div class="row">
    <div class="col-md-3 col-md-offset-3">  
        <h4>Number of meetings per week in hours</h4>
        <form id="input">
            <div class="form-group">
                <input type="text" name="page" class="form-control" autofocus/>
            </div>
        </form>    
    </div>
    <div class="col-md-6 col-md-offset-3">
        <!-- <h4>Number of meetings in hours per week</h4>
            <div class="row">
                <div class="col-md-1">
                    <input type="text" autofocus/>
                </div>
            </div> -->  
            <h4>Add the individuals salaries </h4>
            <form id="input_form">
                <div class="form-group">
                    <input type="text" class="form-control" autofocus/>
                </div>
            </form>    
            <input id="btnAdd" type="button" value="Add" class="btn btn-primary" />
            <button type="button" id="genGraph" class="btn btn-success">Generate Graph</button>
    </div>
    <div id="TextBoxContainer">
  		<!--Textboxes will be added here -->
	</div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <h3 class="hidden" id="number_text">hello</h3>
    </div>
</div>


<div class="row">
    <div id="new_graph" class="col-md-6 col-md-offset-3">
    	<svg id="graph"></svg>
    		<div class="hidden" id="remove_graph">
    			<button type="button" id="reset_graph" class="btn btn-danger">Reset Graph</button>
    		</div>
    </div>
</div>