<div id = "new_row">

	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
	        <h4>Number of meetings</h4>
	            <div class="form-group">
	                <input type="text" class="form-control" />
	            </div>
	            <input id="btnAdd" type="button" value="Add" class="btn btn-primary" />
	            <button type="button" id="genGraph" class="btn btn-success">Generate Graph</button>
	    </div>
	    <div id="TextBoxContainer">
    		<!--Textboxes will be added here -->
			</div>
	</div>
</div>

<div id="new_graph">
	<svg id="graph"></svg>
		<div class="hidden" id="remove_graph">
			<button type="button" class="btn btn-danger">Delete Graph</button>
		</div>
</div>

