<div id = "new_row">

	<%= render partial: "new_form" %>

</div>

<div id="new_graph">
	<svg id="graph"></svg>
		<div class="hidden" id="remove_graph">
			<button type="button" id="reset_graph" class="btn btn-danger">Reset Graph</button>
		</div>
</div>

